CompileFlags:
  CompilationDatabase: c:\Users\danie\Desktop\ITS-BRD_VSC\ITS-BRD-VSC\Programs\Aufgabe3\out\Aufgabe3\ITSboard\Debug
  Add:
    - -include
    - c:\Users\danie\Desktop\ITS-BRD_VSC\ITS-BRD-VSC\Programs\Aufgabe3\out\Aufgabe3\ITSboard\Debug\compile_macros.h
