CompileFlags:
  CompilationDatabase: >-
    c:\Users\danie\Desktop\ITS-BRD\ITS-BRD-VSC\Programs\Aufgabe3\out\Aufgabe3\ITSboard\Debug
  Add:
    - '-IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/Inc'
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../stm32cubef4/Utilities/Fonts
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../DisplayWaveshare/Inc
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../ITS_BRD_LIB/Utilities/AddFonts
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/tmp/Aufgabe3.Debug+ITSboard
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/RTE/_Debug_ITSboard
    - >-
      -IC:/Users/danie/AppData/Local/Arm/Packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include
    - >-
      -IC:/Users/danie/AppData/Local/Arm/Packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/Users/danie/Desktop/ITS-BRD/ITS-BRD-VSC/Programs/Aufgabe3/../../ITS_BRD_LIB/Inc
